<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>data Upload</title>
      <link rel="stylesheet" type="text/css" href="../static/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
   <body>
      <h1> k-means </h1>  
         <form action="\data" method="POST" enctype="multipart/form-data">  
            <div class="mimi">
               <label for="data" style="display: flex; justify-content: center; align-items: center;">Telecharger une dataset </label>
               <input type="file" className="form-control" id="data" accept=".csv, text/csv" name="data"/>
               <input type="submit" value="Suivant" id="custom-btn">
            </div>
         </form>

      
   </body>
</html>