<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>k utilisateur</title>
      <link rel="stylesheet" type="text/css" href="../static/style.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
   </head>
<body> 
<h3>ENTREZ K LE NOMBRE DE CLUSTER</h3>
<form action="/k_utilisateur" method="POST" enctype="multipart/form-data">  
    <div class="mimi">
       <h4 style="font-size: 20px; color: #05aa81; "> k </h4>
       <input type="number" id="k" name="k" min="1" max="100">
       <input type="submit" value="Suivant" id="custom-btn">
    </div>
</form>
</body>
</html>
