<!DOCTYPE html>
<html>
<head>
    <title>k-means</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
<h1> k-means </h1>
<div class="form_">
            <form id="model-form" action="/model" method="POST" enctype="multipart/form-data">
                       
                        <div class="box">
                            <input type="submit" name="model" value="k_automatique" id="custom-btn">
                            <input type="submit" name="model" value="k_utilisateur" id="custom-btn">
                        </div>

            </form> 
</div>
</body>
</html>
